* {
    padding: 0;
    margin: 0;
}

.table {
    border-collapse: collapse;
}

.table td, .table tr {
    border-bottom: 1px solid #aaa;
    padding: 8px;
}

.table tr {
    width: 100%;
}

.table tr:nth-child(odd) { background: #ccc; }

.dropdown {
    background-color: #08c;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.header {
    background: #038;
    color: #fff;
    border: none;
    padding: 18px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 30px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

.active, .collapsible:hover {
    background-color: #0cf;
}

.content {
    padding: 0 18px;
    overflow: hidden;
    background: #ddd;
    max-height: 0;
    transition: max-height 0.6s ease-out;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr auto;
}

.middle {
    grid-row: 2 / span 1;
}

.right {
    grid-column: 2 / span 1;
}

.left {
    grid-column: 1 / span 1;
}

.bottom {
    grid-row: 3 / span 1;
}